table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  thead {
    background-color: rgb(32, 202, 253);
    font-weight: 700;
  }
  table th,
  table td {
    padding: 10px;
    text-align: right;
  }
  